@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/* basic css reset */
*, *::before, *::after{
    box-sizing: border-box;
}
*{ margin: 0; }
img{
    display:block;
    max-width: 100%;
}
/* basic css reset */


body {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #aba9bb;
}

.boxes {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-bottom: 25px;
    font-size: 50px;
}

.box {
    border: solid;
    min-height: 150px;
    min-width: 100px;
    margin: 20px;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 150px;
    border-radius: 15px;
}

.board, .dice, .scorecard, .buttons {
    display: none;
}

.dice {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#diceImg1, #diceImg2 {
    margin: 20px;
}

table {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.shut {
    background-color: #c6c2e8;
    color: black;
    border: 5px solid rgb(2, 60, 171);
}

.buttons {
    margin-bottom: 40px;
}

#sum {
    margin-bottom: 40px;
}

#winner {
    display: none;
    margin: 20px;
}

#bonusBtn {
    display: none;
    margin: auto;
}

button {
    background-color: #7fd1ae;
    border-radius: 7px;
    min-height: 30px;
    min-width: 80px;
}

button:disabled {

}

#playAgainBtn {
    margin: 20px;
}
td {
    border: 1px solid black;
  }
  table{
    border-spacing: 0;
  }
